body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #F5D7D9;
}

.background_img {
    width: 100%;
    height: 310px;
}

p {
    color: rgb(79, 79, 79);
    /*margin-top: 50px;*/
}

.account_icon {
    width: 30px;
    height: 30px;
}

.article_body {
    margin-top: 30px;
    margin-bottom: 50px;
}

.article__item {
    font-size: medium;
    /* color: palevioletred; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 70px;
    margin-bottom: 0;
    text-align: center;
    color: rgb(60, 26, 85);

}

h2 {
    margin-top: 55px;
    margin-bottom: 25px;
    font-weight: bolder;
    color: rgb(60, 26, 85);

}

h3 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 29px;
}

h3 a{
    text-decoration: none;
    color: rgb(60, 26, 85);
}

h3 a:hover {
    color: palevioletred;
}


span {
    font-weight: bold;
}

h2 a {
    text-decoration: none;
    color: rgb(60, 26, 85);
}

h2 a:hover {
    color: palevioletred;
}

.read-more {
    text-decoration: none;
    color: #8e2e4c;
    font-weight: bold;
}

.read-more:hover {
    color: palevioletred;
}

.article__item p {

    color: rgb(79, 79, 79);
}

time {
    margin-bottom: 40px;
    color: rgb(79, 79, 79);

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    color: rgb(44, 20, 62);
}

li a:hover {
    color: palevioletred;
}

.logo {
    width: 65px;
    height: 65px;
}

.article-detail {
    min-width: 100%;
}

.images {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.login_none_auth {
   /* margin-top: 10px;*/
    color: rgb(44, 20, 62);
    text-decoration: none;
    font-weight: bold;
}

.login_none_auth:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(96%) saturate(843%) hue-rotate(298deg) brightness(92%) contrast(85%);

}

.login_btns {
    margin-top: 35px;
    margin-bottom: 35px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.login_is_auth {
    /*padding: 10px 60px;*/
    color: rgb(44, 20, 62);
    background-color: #F5D7D9;
    border: none;
    font-size: medium;
    /*border-radius: 10px;*/
    /*box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);*/
    cursor: pointer;
    /*transition: transform 0.3s ease;*/
    font-weight: bold;
}

.login_is_auth:hover {
    color: palevioletred;
}

.logout_img:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(96%) saturate(843%) hue-rotate(298deg) brightness(92%) contrast(85%);
}

.login_form {
    display: flex;
    flex-direction: column;
    border: 1px solid #F5D7D9;
    border-radius: 15px;
    width: 70%;
    height: 30%;
    margin: 50px auto 10px auto;
    align-items: center;
    box-shadow: 3px -3px 16px 0px rgba(34, 60, 80, 0.2);
}

input {
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid palevioletred;
}

label {
    font-weight: bold;
    color: rgb(44, 20, 62);

}


.login_submit_btn {
    border: none;
    height: 50px;
    width: 100%;
    background-color: #F5D7D9;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: rgb(44, 20, 62);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.login_submit_btn:hover,
.signup_submit_btn:hover {
    background-color: #edbacb;
}

.signup_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}

.helptext {
    color: rgb(44, 20, 62);
    list-style: none;
}

.signup_submit_btn {
    width: 50%;
    background-color: #F5D7D9;
    height: 50px;
    border: none;
    font-weight: bold;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.article_create_in_list {
    font-weight: bold;
    list-style: none;
    text-align: end;
    font-size: 24px;
}

.article_create_in_list a{
    text-decoration: none;
    color: rgb(44, 20, 62);

}

.article_create_in_list a:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(96%) saturate(843%) hue-rotate(298deg) brightness(92%) contrast(85%);
}

.btn_create {
    font-weight: bolder;
    color: rgb(44, 20, 62);
    padding: 10px 35px;
    background-color: #F5D7D9;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: ease 0.2s;
}

.btn_create:hover {
    background-color: #df94ac;
    transform: scale(0.9);
}

