{% extends "base_layout.html" %}
{% block title %}Article List{% endblock title %}
{% block content %}
    <main>
        <div class="container">
            <h1>Article List</h1>
            {% if user.is_authenticated %}
                <li class="article_create_in_list">
                    <a href="{% url 'articles:create' %}">
                        Create article
                        <img src="/static/add.svg" style="width: 30px; height: 30px; margin-bottom: 3px;" alt="">
                    </a>
                </li>
            {% endif %}
            <div class="articles">
                {% for element in articles %}
                    <div class="article__item">
                        <h2>
                            <a href="{% url 'articles:article_detail' slug=element.slug %}">
                                {{ element.title }}
                            </a>
                        </h2>
                        <p>
                            {% comment %} {{ element.body }} {% endcomment %}
                            {{ element.snippet }}
                        </p>
                        <time>
                            {{ element.date }}
                        </time>
                        <p>
                            {{ element.author }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}

